
<div class="header-container">

  <div class="header-content">
    <h1> THE LINK KNOWS ALL. SO CAN YOU. </h1>
    <h2>Measure your links with Bitly, the world's leading link management platform. </h2>

    <form action="/generate_url" method="post">
        <input type="text" name="long_url" required pattern="https://.+" placeholder="Enter a URL to shorten">
        <input type="submit" value="Shorten">
    </form>
  </div>
  <img src="img/keyboard.jpg">
 </div>

<div id="table-content">
<%= erb :"static/table", layout: false %>
</div>
