<h1> Welcome to my Bitly Clone... </h1>

<form action="/generate_url" method="post">
    Enter a URL to begin: 
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
 </form>

