   <table>
   <tr>
   	<th> Long URL </th>
   	<th> Short URL </th>
    <th> Clicks </th>
  <% Url.last(15).reverse.each do |url| %>
    <tr>
      <td>
        <%= url.long_url %>
      </td>
      <td>
        <a href="/<%= url.short_url %>"> <%= url.short_url %> </a> 
      </td>
      <td>
      <%= url.click_count %>
      </td>
    </tr>
  <% end %>
  </table>